@{
  ViewBag.Title = "Sample Angular-MVC";
}

<h1>Sample Angular-MVC application</h1>

<div class="row">
  <div class="col-xs-12">
    <a class="btn btn-primary" href="/Product/Product">View Product List</a>
  </div>
</div>