<div class="row" *ngIf="product">
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">Product Information</h1>
            </div>
            <div class="panel-body">
                <!-- Error message area -->
                <div class="row" *ngIf="messages && messages.length">
                    <div class="col-xs-12">
                        <div class="alert alert-warning">
                            <ul>
                                <li *ngFor="let msg of messages">
                                    {{msg}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end error area -->
                <!-- Detail entry area begin -->
                <div class="form-group">
                    <label for="categoryId">Category Id</label>
                    <select id="categoryId"
                            name="categoryId"
                            [(ngModel)]="product.categoryId"
                            class="form-control">
                        <option *ngFor="let cat of categories" value="cat.categoryId">{{cat.categoryName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="productName">Product Name</label>
                    <input id="productName"
                           name="productName"
                           type="text"
                           class="form-control"
                           autofocus="autofocus"
                           placeholder="Enter the product name"
                           title="Enter the product name"
                           [(ngModel)]="product.productName" />
                </div>
                <div class="form-group">
                    <label for="introductionDate">Introduction Date</label>
                    <input id="introducttionDate"
                           type="text"
                           class="form-control"
                           placeholder="Enter the introduction date"
                           title="Enter the introduction date"
                           [(ngModel)]="product.introductionDate" />
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input id="price"
                           type="number"
                           class="form-control"
                           placeholder="Enter the price"
                           title="Enter the price"
                           [(ngModel)]="product.price" />
                </div>
                <div class="form-group">
                    <label for="url">URL</label>
                    <input id="url"
                           type="url"
                           class="form-control"
                           placeholder="Enter the url"
                           title="Enter the url"
                           [(ngModel)]="product.url" />
                </div>
                <!-- Detail entry area end -->
            </div>

            <div class="panel-footer">
                <button class="btn btn-success" (click)="saveProduct()">Save</button>
                <button class="btn btn-primary" (click)="goBack()">Cancel</button>
            </div>
        </div>
    </div>
</div>